/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
*{
    box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif !important;
  font-size: 14px;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* Mobile */
@media (max-width: 767px) {
  /* CSS cho màn hình nhỏ hơn hoặc bằng 767px (mobile) */
  .hide-on-mobile {
    display: none !important;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* CSS cho màn hình từ 768px đến 1023px (tablet) */
  .hide-on-tablet {
    display: none !important;
  }
}

/* PC */
@media (min-width: 1024px) {
  /* CSS cho màn hình lớn hơn hoặc bằng 1024px (PC) */
  .hide-on-pc {
    display: none !important;
  }
}
body,
body .p-component
{
  margin: 0;
  font-family: "Nunito", sans-serif;
}