<div class="dialog-header pt-4">
  <h3>Đã thêm vào giỏ hàng</h3>
</div>
<div class="dialog-content">
  <p-table
    [value]="[cartItem]"
    selectionMode="single"
    [rows]="1"
    class="added-cart-product"
  >
    <ng-template pTemplate="body" let-rowData let-cartItem>
      <tr [pSelectableRow]="rowData">
        <td class="text-center">
          <img
            [src]="cartItem.product.thumbnailURL"
            [alt]="cartItem.product.thumbnailURL"
            class="w-5rem shadow-2"
          />
        </td>
        <td>
          <span>
            {{ cartItem.product.name }}
          </span>
        </td>
        <td class="text-center">
          <span>
            {{ cartItem.color.color }}/
            {{ cartItem.size.size }}
          </span>
        </td>
        <td class="text-center">
          <span>
            <strong>{{ cartItem.quantity }}</strong
            >x
            {{ cartItem.product.price | currency : "VND" }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
