.product-detail {
}
.product-detail__inner {
  padding: 0 64px;
}
.product-detail__inner .overview {
  margin: 28px 0;
}

.overview .product-detail__gallery {
  position: relative;
  height: 1100px;
}
.overview .product-detail__gallery,
.product-detail__info {
  margin: 0 3px;
}
.slick__list {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 50px;
  z-index: 1;
}
.slick__list .slick__item {
  margin: 10px 0;
  opacity: 0.4;
}
.slick__list .slick__item.slt {
  opacity: 1;
}
.slick__list .slick__item .img__wrapper {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  transition: all 0.3s;
  cursor: pointer;
}
.slick__list .slick__item .img__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.overview .product-detail__gallery .album__list {
  position: relative;
  width: 100%;
  height: 100%;
}

.overview .product-detail__gallery .album__list .album__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.overview .product-detail__gallery .album__list .album__item.show {
  animation: fadeIn 0.5s linear;
  opacity: 1;
}
.overview .product-detail__gallery .album__list .album__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.overview .product-detail__info {
}
.overview .product-detail__info .name {
}
.overview .product-detail__info .rating {
}
.overview .product-detail__info .price {
}
.overview .product-detail__info .color {
}
.overview .product-detail__info .color .color__list {
  display: flex;
  align-items: center;
  justify-content: start;
}
.overview .product-detail__info .color .color__list .color__item {
  height: 32px;
  width: 51px;
  background-color: red;
  position: relative;
  border-radius: 16px;
}
.overview .product-detail__info .color .color__list .color__item::before {
  content: "";
  border: 4px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1.125rem;
}
.overview .product-detail__info .color .color__list .color__item::after {
  content: "";
  border: 2px solid var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1.125rem;
}

.overview .product-detail__info .size {
}
.overview .product-detail__info .size .size__list {
  display: flex;
  align-items: center;
  justify-content: start;
}
.overview .product-detail__info .size .size__list .size__item {
  height: 42px;
  width: 62px;
  background-color: var(--gray-200);
  position: relative;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview .product-detail__info .size .size__list .size__item.slt {
  background-color: var(--primary-color);
  color: #fff;
}
.overview .product-detail__info .size .size__list .size__item:first-child {
  margin-left: unset;
}
.overview .product-detail__info .action {
}
::ng-deep .overview .product-detail__info .action  p-inputnumber input{
    width: 100%;
    text-align: center;
}
.overview .product-detail__info .desc {
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
