// image carousel
.image-carousel {
  position: relative;
}

.image-carousel:hover .carousel-arrow {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  opacity: 1;
}

.image-carousel:hover .carousel-arrow i {
  font-size: 2.8rem;
}

.carousel-arrow {
  box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  transition: all 0.1s linear;
  z-index: 2;
}

.carousel-arrow i {
  color: rgba(0, 0, 0, 0.54);
}

.carousel-arrow--hint {
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #fff;
  opacity: 0.3;
}

.carousel-arrow--prevent {
  pointer-events: none;
  display: none;
}

.carousel-arrow--prev {
  transform: translate(-50%, -50%);
  left: 25px;
}

.carousel-arrow--next {
  transform: translate(50%, -50%);
  right: 25px;
}

.carousel-arrow--hidden {
  display: none;
}

.image-carousel__item-list-wrapper {
  height: 100%;
  overflow: hidden;
}

.image-carousel__item-list {
  height: 100%;
  transition: all linear;
}

.image-carousel__item {
  width: 100%;
}

.carousel-dots {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.carousel-dots.carousel-dots--show {
  display: flex;
}

.carousel-dots.carousel-dots--prevent {
  pointer-events: none;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.carousel-dot.carousel-dot--active {
  background-color: rgba(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.5);
  animation: fadeIn 0.1s linear;
}

.carousel-dot:not(:first-child) {
  margin-left: 5px;
}
