<div class="product-list__wrapper">
  <div class="nav__wrapper mb-4">
    <nav class="navbar grid flex justify-content-between align-items-center">
      <h2 class="">
        Tất cả sản phẩm
      </h2>
      <div
        class="filter__pc flex align-items-center hide-on-mobile hide-on-tablet"
      >
        <div class="sorter__wrapper flex align-items-center">
          <span class="mr-2"> Hiển thị bộ lọc</span>
          <p-inputSwitch
            [(ngModel)]="isShowSidebar"
            (onChange)="a()"
          ></p-inputSwitch>
        </div>
        <div class="filter-display__wrapper ml-4">
          <p-dropdown
            [options]="sortCritera"
            [(ngModel)]="selectedSortCritera"
            optionLabel="name"
            placeholder="Sắp xếp bởi"
            (onChange)="selectetSorter($event.value)"
          ></p-dropdown>
        </div>
      </div>
      <div class="filter__m-t hide-on-pc">
        <p-button
          [label]="filterLabel"
          styleClass="p-button-rounded p-button-outlined"
          icon="pi pi-filter"
          iconPos="right"
        ></p-button>
      </div>
    </nav>
  </div>
  <div class="grid">
    <!-- sidebar -->
    <div id="sidebarWrapper" #sidebarWrapper class="sidebar__wrapper lg:col-3">
      <form class="sidebar" [formGroup]="filterSidebarFG">
        <div class="flex align-items-center justify-content-between pb-4">
          <h2 class="font-bold">Bộ lọc</h2>
        </div>
        <div class="slider__wrapper py-4">
          <div class="px-2">
            <p-slider
              formControlName="priceRanges"
              [range]="true"
              [min]="minPrice"
              [max]="maxPrice"
            ></p-slider>
          </div>
          <div
            class="price-range__group flex align-items-center justify-content-between mt-4"
          >
            <p-inputNumber
              inputId="integeronly"
              formControlName="priceFrom"
              mode="currency"
              currency="VND"
              locale="vi-VN"
              styleClass="custom-input"
              [readonly]="true"
            >
            </p-inputNumber>
            <div class="line">
              <span></span>
            </div>
            <p-inputNumber
              inputId="integeronly"
              formControlName="priceTo"
              mode="currency"
              currency="VND"
              locale="vi-VN"
              styleClass="custom-input"
              [readonly]="true"
            >
            </p-inputNumber>
          </div>
        </div>
        <div>
          <ng-container *ngFor="let item of filterOptions; index as idx">
            <ng-container *ngIf="item.type === 'checkbox'">
              <p-card class="card w-full" [styleClass]="'shadow-none'">
                <ng-template pTemplate="header">
                  <h3 class="">{{ item.label }}</h3>
                </ng-template>
                <div [formArrayName]="item.fieldName">
                  <ng-container
                    *ngFor="let option of item.options; index as idx"
                  >
                    <div class="field-checkbox">
                      <p-checkbox
                        [formControlName]="idx"
                        [value]="option.value"
                      ></p-checkbox>
                      <label [for]="option.value" class="capitalize">{{
                        option.name
                      }}</label>
                    </div>
                  </ng-container>
                </div>
                <!-- <ng-container *ngIf="item.type !== 'checkbox'"> b </ng-container> -->
              </p-card>
            </ng-container>
          </ng-container>
        </div>
      </form>
    </div>
    <div
      id="productGridWrapper"
      #productGridWrapper
      class="product-grid__wrapper lg:col-9 md:col-12 col-12"
    >
      <div class="grid">
        <div
          class="lg:col-4 md:col-6 col-12"
          *ngFor="let product of products; index as idx"
        >
          <div id="productItemWrapper" class="product-item__wrapper">
            <div class="product-item">
              <div class="product__image">
                <div class="img__wrapper">
                  <a [routerLink]="['/product', product.ID]">
                    <img [src]="product.thumbnailURL" />
                    <img [src]="product.hoverImageURL" />
                    <div class="size__list">
                      <div
                        class="flex flex-column align-items-center justify-content-center"
                      >
                        <strong>Thêm nhanh vào giỏ hàng</strong>
                        <div class="flex mt-2">
                          <ng-container *ngFor="let sizeItem of product.Sizes">
                            <div
                              class="size__item mr-2"
                              (click)="selectSize($event, product, sizeItem)"
                              >
                              <strong>{{ sizeItem.size }}</strong>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="color">
                  <div class="color__list">
                    <ng-container
                      *ngFor="let colorItem of product.Colors; index as idx"
                    >
                      <ng-container *ngIf="colorItem && colorItem.Color">
                        <div
                          class="color__item"
                          (click)="product.sltColorItem = colorItem"
                        >
                          <div
                            class="color__item-slt"
                            [class.show]="
                              colorItem.ID === product.sltColorItem.ID
                            "
                          ></div>
                          <div
                            class="color__item--background"
                            [style]="{
                              backgroundColor: colorItem.Color.hexColorCode
                            }"
                          ></div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <p class="product-info__name mt-2">{{ product.name }}</p>
                <div class="product-info__price">
                  <p>{{ product.price | currency : "VND" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="!products">
          <div
            class="lg:col-4 md:col-6 col-12"
            *ngFor="let sk of [1, 1, 1, 1, 1, 1]; index as idx"
          >
            <p-skeleton
              width="100%"
              height="500px"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- <custom-dialog
  #filterDialogComp
  [header]="filterLabel"
  [modal]="true"
  [customStyle]="{ width: '100%' }"
>
  <div class="dialog-header">
    <h1>
      {{ filterLabel }}
    </h1>
  </div>
  <div class="dialog-content">
    <ng-container *ngFor="let item of filterOptions">
      <div class="card w-full">
        <p-panel
          styleClass="custom-p-panel"
          [header]="item.label"
          [toggleable]="true"
        >
          <ng-container *ngIf="item.type === 'checkbox'">
            {{ item.options | json }}
            <div *ngFor="let option of item.options" class="field-checkbox">
              {{option}}
              <p-checkbox
                name="group"
                [value]="option.value"
                [(ngModel)]="item.value"
              ></p-checkbox>
              <label [for]="option.value">{{ option.name }}</label>
            </div>
          </ng-container>
          <ng-container *ngIf="item.type !== 'checkbox'"> b </ng-container>
        </p-panel>
      </div>
    </ng-container>
    <div class="flex align-items-center filter-button-group">
      <div class="flex-1">
        <p-button
          label="Xoá tất cả"
          styleClass="p-button-outlined p-button-text "
        ></p-button>
      </div>
      <div class="flex-1">
        <p-button
          label="Áp dụng"
          styleClass="p-button-raised ml-2 flex-1 custom-button "
          class="flex-1"
          (click)="applySidebarFilter()"
        ></p-button>
      </div>
    </div>
  </div>
</custom-dialog>
 -->
