.product-list__wrapper {
  padding: 15px 0;
}
.product-list__wrapper .navbar {
  padding: 0 64px;
}
.product-list__wrapper .navbar .filter-display__wrapper {
}
.product-list__wrapper h2 {
}
/* nav */
.product-list__wrapper .nav__wrapper {
}
/* product grid */
.product-grid__wrapper {
  padding: 0 64px;
  flex: 1 1 auto;
}
/* sidebar */
.sidebar__wrapper {
  padding-left: 64px;
  animation: b 300ms forwards linear;
  position: sticky;
  top: 56px;
  max-height: 781px;
  overflow: hidden;
  padding-top: 0;
}
.sidebar__wrapper .sidebar {
  background-color: var(--surface-overlay);
  padding: 15px;
}
.sidebar__wrapper.result-no-sidebar {
  animation: a 300ms forwards linear;
}
/* product item */
.product-item__wrapper {
  
}
.product-item__wrapper .img__wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.product-item__wrapper .product__image {
  position: relative;
}
.product-item__wrapper .product__image .cart__icon{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  z-index: 999;
  cursor: pointer;
  padding: 15px;
}
.product-item__wrapper .product__image .cart__icon:hover{
  color: var(--primary-color)
}
.product-item__wrapper .img__wrapper::before {
  content: "";
  display: block;
  padding-top: 133.779264214%;
  height: 0;
  width: 100%;
}
.product-item__wrapper .img__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  z-index: 0;
}
.product-item__wrapper .img__wrapper:hover img:first-child {
  z-index: 1;
}
.product-item__wrapper .product-info .product-info__price{
  margin-top: 10px;
}
.product-item__wrapper .product-info .product-info__price p{
  text-decoration: none;
  font-weight: 700;
}
.product-item__wrapper.result-no-sidebar {
  animation: d 300ms forwards linear;
}
/* slider wrapper */
.slider__wrapper p-inputNumber{
  width: 45%;
}
::ng-deep .slider__wrapper p-inputNumber .custom-input{
  width: 100%;
}
::ng-deep .slider__wrapper p-inputNumber input{
  width: inherit;
  padding: 10px;
}
.slider__wrapper .price-range__group .line{
  flex: 1;
  padding: 0 2px;
}
.slider__wrapper .price-range__group .line span{
  border: .8px dashed black;
  display: block;
}
/* Mobile */
@media (max-width: 767px) {
  /* CSS cho màn hình nhỏ hơn hoặc bằng 767px (mobile) */
  .sidebar {
    display: none;
  }
}

/* Tablet */
@media (min-width: 764px) and (max-width: 1023px) {
  /* CSS cho màn hình từ 764px đến 1023px (tablet) */
  .sidebar {
    display: none;
  }
}

/* PC */
@media (min-width: 1024px) {
  /* CSS cho màn hình lớn hơn hoặc bằng 1024px (PC) */
}

@keyframes a {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -25%;
    visibility: hidden;
  }
}
@keyframes b {
  0% {
    margin-left: -25%;
    visibility: hidden;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes c {
  0% {
    height: 400px;
  }
  100% {
    height: 200px;
  }
}
@keyframes d {
  0% {
    height: 200px;
  }
  100% {
    height: 400px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  /* CSS cho màn hình nhỏ hơn hoặc bằng 767px (mobile) */
  .sidebar__wrapper {
    display: none;
  }
  ::ng-deep .filter-button-group p-button button {
    display: block;
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 764px) and (max-width: 1023px) {
  /* CSS cho màn hình từ 764px đến 1023px (tablet) */
  .sidebar__wrapper {
    display: none;
  }
  ::ng-deep .filter-button-group p-button button {
    display: block;
    width: 100%;
  }
}

/* PC */
@media (min-width: 1024px) {
  /* CSS cho màn hình lớn hơn hoặc bằng 1024px (PC) */
}

::ng-deep .custom-p-panel .p-panel-header,
::ng-deep .p-panel-content {
  background-color: inherit !important;
  box-shadow: none !important;
}
::ng-deep .custom-p-panel {
  background-color: inherit !important;
  box-shadow: none !important;
}
