<section>
    <ng-content select=".section-title"></ng-content>
    <my-carousel
      #destinationCarouselTemplate
      [itemRender]="destinationCarouselItemTemplate"
      [isPerItemInStep]="true"
      [items$]="items$"
      [noGutters]="false"
      [dotRender]="desDotCarouselItemTempRef"
    ></my-carousel>
</section>

<ng-template #destinationCarouselItemTemplate let-itemIdx="itemIdx">
  <li #imageCarouselItem class="image-carousel__item lg:col-3 md:col-3 col-6">
    <div style="width: 100%; height: 200px; background: greenyellow"></div>
  </li>
</ng-template>
<ng-template
  #desDotCarouselItemTempRef
  let-dotIndex="dotIndex"
  let-dotValue="dotValue"
  let-currentIdx="currentIdx"
  let-step="step"
>
  <li
    class="carousel-dot"
    [style]="dotValue === currentIdx ? activeDot : unActiveDot"
    (click)="destinationCarouselTemplate.processCarousel(dotIndex)"
  ></li>
</ng-template>
